 <div style="position: fixed;  top: 40%; left: 0; width: 100%; text-align: center; z-index: 1;  padding-left: 25%; padding-right: 25%;">
    <div class="alert" ng-class="Controls.Alert.Class" role="alert" ng-hide="Controls.Alert.Hide">
      {{Controls.Alert.Message}}
    </div>
  </div>
  
  <div class="row" style="min-height: 100%; max-height: 100%;">
      <div class="col-12 p-2 bg-body-tertiary" style="height: 81.5vh; overflow: auto; margin-bottom: 100px;">
        <div ng-hide="Controls.Div.Hide">
          <div class="input-group pb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Search Customer" ng-model="SearchEmployee" ng-keyup="SearchEmployeeChanged()">
          </div>
        </div>
        <div style="height: 71.5vh; overflow: auto;">
          <table class="table table-sm table-striped table-bordered table-responsive" >
            <thead style="position: sticky; top: 0; z-index: 1;">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Invoice No</th>
                <th scope="col">Customer</th>
                <th scope="col">Payable</th>
                <th scope="col">Order Date</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="Orders.length <= 0">
                <td colspan="8" align="center">No Data Found</td>
              </tr>
              <tr ng-repeat="item in Orders">
                <th scope="row">{{$index+1}}</th>
                <td>{{item.CartCode}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.TotalPayable}}</td>
                <td>{{item.OrderDate.split('T')[0]}}</td>
                <td>{{item.Status == 3 ? item.DeliveryDate : ''}}</td>
                <td>{{item.Status == 0 ? 'Pending' : item.Status == 1 ? 'On Delivery' : item.Status == 3 ? 'Delivered' : item.Status == -1 ? 'Cancelled' : '' }}</td>
                <td align="center">
                    <button type="button" class="btn btn-sm btn-success p-1" ng-if="item.Status == 0" ng-click="DeleteEmployee($index, 0)">Details</button>
                    <button type="button" class="btn btn-sm btn-danger p-1" ng-if="item.Status == 0" ng-click="DeleteEmployee($index, 0)">Cancel</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: #edf2f5;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteEmployeeModalLabel">Delete Employee Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-click="DeleteEmployee($index, 0)"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this({{Controls.Delete.EmployeeName}}) Employee?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="DeleteEmployee(0, 1)">Confirm</button>
            </div>
        </div>
    </div>
  </div>
  